services:
  app:
    container_name: naago-app
    entrypoint: [
      "/bin/bash",
      "-c",
      "deno run --allow-all src/database/migrate.ts && exec deno run --allow-all src/index.ts",
    ]
    env_file:
      - .env
    environment:
      IS_PROD: true
      DEPLOYMENT_HASH: ${DEPLOYMENT_HASH:-}
    image: ghcr.io/tancred423/naago:latest
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - mysql-network
      - naagostone-network
    restart: unless-stopped
    volumes:
      - ./image:/app/image:ro

networks:
  mysql-network:
    external: true
    name: mysql-network

  naagostone-network:
    external: true
    name: naagostone-network
